
/** CSS for addParticipantContainer **/
.wrapper{
	width: 912px; 
 	margin: auto;
}
.formWrapper{

	height: 72px;
    margin-bottom:10px;
	background-color: white;
	padding:0px;

}

.form-inline{
	display: flex;
	//margin-top:40px;
	padding-top: 16px;
	//padding-left: 16px;


}
.form-inline .form-control{
	width: 220px;
}

.form-inline input {
	margin-left: 16px;
	height: 40px;

}
.form-inline button{
	margin-left: 80px;
	height: 40px;
	width: 100px;
}

